.dashboard-box
  %h2 Form
  %p.notice
    = notice
  %p.alert
    = alert
- if current_user.try(:is_admin?)
  / TODO: Toggle to hide and something else
  .dashboard-box#recent-invisible-posts
    - @recent_invisible_posts.each do |post|
      = render post
.dashboard-box#donate
  .box-content
    = render :partial => 'shared/wepay'
.dashboard-box#about-box
  - if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
    %li
      = link_to('Edit account', edit_user_registration_path)
  - else
    %li
      = link_to('Login', new_user_session_path)
    %li
      = link_to('Sign up', new_user_registration_path)
  = link_to "About", about_path
