<!DOCTYPE html>
%html{html_attrs}
%head
  %title= full_title(yield(:title))
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %link{:rel => "shortcut icon", :href => "/favicon.png" }
%body
/ Header TODO: should not be here?
#header
  = render :partial => 'shared/header'
#page-container
  #content-main
    = yield
  #dashboard
    = render :partial => 'shared/dashboard'
